gradio
hf-xet
spaces
git+https://github.com/6Morpheus6/Indic-F5.git
torch
torchaudio
torchvision
transformers
indictranstoolkit
openai-whisper
sentencepiece
sacremoses
nltk
accelerate
indic-nlp-library
tensorflow
requests
numpy
soundfile
tqdm
librosa
protobuf~=4.25
ninja
